.product-form, .center {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

article {
    align-items: center;

    .card-img-top {
        max-width: 20%;
    }

    p {
        margin-bottom: 0.5rem;
    }
}